{% load static wagtailuserbar wagtailcore_tags %}

<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{% block title %}{% if self.seo_title %}{{ self.seo_title }}{% else %}{{ self.title }}{% endif %}{% endblock %}{% block extra_title %}{% endblock %}</title>
  <meta name="description" content="{% block description %}{{ self.search_description }}{% endblock %}{% block extra_description %}{% endblock %}">
  <link rel="canonical" href="{{ canonical }}">

  {% if BASE_URL %}
  <base href="{{ BASE_URL }}">
  {% endif %}

  {% block extra_head %}{% endblock %}

  <link href="{% static 'base.css' %}" rel="stylesheet">
  {% block extra_css %}{% endblock %}

  {% include 'includes/tracking.html' %}
</head>

<body>
  {% wagtailuserbar %}

  {% include 'includes/messages.html' %}

  {% block nav %}
  <nav class="navbar navbar-dark navbar-expand-md bg-blue-800 d-print-none">
    <div class="container">
      <a href="/" class="navbar-brand logo shadow" aria-label="Isaac Bythewood"></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav">
          {% for nav_item in nav_items %}
          <li class="nav-item">
            <a class="nav-link {% if active_tag.id == nav_item.id %}active{% endif %}" href="{{ nav_item.url }}">
              {{ nav_item.name }}
            </a>
          </li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </nav>
  {% endblock %}

  {% block breadcrumb_wrapper %}
  <div class="bg-blue-700 py-2 overflow-auto d-print-none">
    <div class="container">
      {% block breadcrumbs %}
      <nav style="--bs-breadcrumb-divider: url(&#34;data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8'%3E%3Cpath d='M2.5 0L1 1.5 3.5 4 1 6.5 2.5 8l4-4-4-4z' fill='%236c757d'/%3E%3C/svg%3E&#34;);" aria-label="breadcrumb">
        <ol class="breadcrumb mb-0">
          {% for page in self.get_ancestors %}
          {% if page.is_root == False %}
          <li class="breadcrumb-item"><a href="{% pageurl page %}">{{ page.title }}</a></li>
          {% endif %}
          {% endfor %}
          {% block extra_breadcrumbs %}
            <li class="breadcrumb-item active">{{ self.title }}</li>
          {% endblock %}
        </ol>
      </nav>
      {% endblock %}
    </div>
  </div>
  {% endblock %}

  <main class="flex-grow-1">
    {% block main %}{% endblock %}
  </main>

  {% block footer %}
  <footer class="border-top py-5 mt-5 bg-dark text-light d-print-none">
    <div class="container">
      <div class="row bg-gray-925 border border-yellow-500 shadow rounded p-4 mb-5">
        <div class="col-12 col-md-8">
          <div class="h1 fw-bolder">Let me know what you think</div>
          <div class="h5 text-gray-300">Any comments or you'd just like to chat about the
            subject? Send me and email! Especially if you find a spelling mistake.</div>
        </div>
        <div class="col-12 col-md-4 d-flex align-items-center justify-content-md-end">
          <div>
            <a href="mailto:{{ self.owner.email }}" class="btn btn-dark btn-lg border-orange-800 rounded fs-5 d-flex align-items-center">
              <span>Send email</span>
              <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-arrow-right-short ms-1" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M4 8a.5.5 0 0 1 .5-.5h5.793L8.146 5.354a.5.5 0 1 1 .708-.708l3 3a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708-.708L10.293 8.5H4.5A.5.5 0 0 1 4 8z"/>
              </svg>
            </a>
          </div>
        </div>
      </div>
      <div class="row mb-3">
        <div class="col-12 col-md-8 mb-4 mb-sm-0">
          <div class="display-5 text-light fs-2 mb-3">Blog</div>
          <div>A blog by Isaac Bythewood that goes into much ado about nothing,
            especially if it's webdev related. I am a full-stack developer
            located in Morganton, NC. No warranty, technical support, or mental
            support will be provided for anything read here.</div>
        </div>
        <div class="col-12 col-md-4">
          <div class="display-5 text-light fs-2 mb-3">Links</div>
          <div>
            <a href="https://isaacbythewood.com/" target="_blank" class="btn btn-sm btn-outline-secondary text-light rounded-pill mb-2">Home</a>
            <a href="https://blog.bythewood.me/" target="_blank" class="btn btn-sm btn-outline-secondary text-light rounded-pill mb-2">Blog</a>
            <a href="https://github.com/overshard" target="_blank" class="btn btn-sm btn-outline-secondary text-light rounded-pill mb-2">GitHub</a>
            <a href="https://analytics.bythewood.me/" target="_blank" class="btn btn-sm btn-outline-secondary text-light rounded-pill mb-2">Analytics</a>
            <a href="https://github.com/overshard/dockerfiles" target="_blank" class="btn btn-sm btn-outline-secondary text-light rounded-pill mb-2">Dockerfiles</a>
            <a href="https://github.com/overshard/dotfiles" target="_blank" class="btn btn-sm btn-outline-secondary text-light rounded-pill mb-2">Dotfiles</a>
            <a href="https://timelite.app/" target="_blank" class="btn btn-sm btn-outline-secondary text-light rounded-pill mb-2">Timelite</a>
          </div>
        </div>
      </div>
    </div>
  </footer>

  <div class="bg-black py-4 d-print-none">
    <div class="container">
      <div class="row">
        <div class="col-sm-6 d-flex align-items-center justify-content-center justify-content-sm-start mt-3 mt-sm-0 order-1 order-sm-0">
          <small class="text-light">
            &copy; {% now 'Y' %} Isaac Bythewood. Some rights reserved.
          </small>
        </div>
        <div class="col-sm-6 d-flex justify-content-center justify-content-sm-end">
          <a href="https://github.com/overshard/blog" target="_blank" class="text-light fs-3 d-flex align-items-center" aria-label="GitHub">
            <svg xmlns="http://www.w3.org/2000/svg" width="28" height="28" fill="currentColor" class="bi bi-github" viewBox="0 0 16 16">
              <path d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27.68 0 1.36.09 2 .27 1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.012 8.012 0 0 0 16 8c0-4.42-3.58-8-8-8z"/>
            </svg>
          </a>
          <a href="https://isaacbythewood.com/" target="_blank" class="logo shadow ms-4" aria-label="Isaac Bythewood"></a>
        </div>
      </div>
    </div>
  </div>
  {% endblock %}

  <div id="cookie-warning" class="alert alert-warning border-warning alert-dismissible fade position-fixed bottom-0 start-0 m-3 p-2 d-flex flex-column flex-md-row align-items-md-center d-print-none" style="z-index: 1100;" role="alert">
    <span>I use my own analytics system that I coded at <a href="https://analytics.bythewood.me/" target="_blank" class="text-muted">analytics.bythewood.me</a> to track the usage of this site with cookies. No data is sent to any third parties.</span>
    <button type="button" class="btn btn-sm btn-success ms-md-2 mt-2 mt-md-0" data-bs-dismiss="alert" aria-label="Okay">Understood</button>
  </div>

  <script src="{% static 'base.js' %}"></script>
  {% block extra_js %}{% endblock %}
</body>
</html>
