{% load static wagtailuserbar wagtailcore_tags %}

<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{% block title %}{% if self.seo_title %}{{ self.seo_title }}{% else %}{{ self.title }}{% endif %}{% endblock %}</title>
  <meta name="description" content="{% block description %}{{ self.search_description }}{% endblock %}">
  <link rel="canonical" href="{{ canonical }}">

  {% if BASE_URL %}
  <base href="{{ BASE_URL }}">
  {% endif %}

  {% block extra_head %}{% endblock %}

  <link href="{% static 'base.css' %}" rel="stylesheet">
  {% block extra_css %}{% endblock %}

  {% include 'includes/tracking.html' %}
</head>

<body>
  {% wagtailuserbar %}

  {% include 'includes/messages.html' %}

  {% block nav %}
  <nav class="navbar navbar-dark navbar-expand-md bg-primary d-print-none">
    <div class="container">
      <a href="/" class="navbar-brand logo" aria-label="Isaac Bythewood"></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav">
          {% for nav_item in nav_items %}
          <li class="nav-item">
            <a class="nav-link" href="{{ nav_item.url }}">
              {{ nav_item.name }}
            </a>
          </li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </nav>
  {% endblock %}

  {% block breadcrumb_wrapper %}
  <div class="breadcrumb-wrapper py-2 d-print-none">
    <div class="container">
      {% block breadcrumbs %}
      <nav style="--bs-breadcrumb-divider: url(&#34;data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8'%3E%3Cpath d='M2.5 0L1 1.5 3.5 4 1 6.5 2.5 8l4-4-4-4z' fill='%236c757d'/%3E%3C/svg%3E&#34;);" aria-label="breadcrumb">
        <ol class="breadcrumb mb-0">
          {% for page in self.get_ancestors %}
          {% if page.is_root == False %}
          <li class="breadcrumb-item"><a href="{% pageurl page %}">{{ page.title }}</a></li>
          {% endif %}
          {% endfor %}
          {% block extra_breadcrumbs %}
            <li class="breadcrumb-item active">{{ self.title }}</li>
          {% endblock %}
        </ol>
      </nav>
      {% endblock %}
    </div>
  </div>
  {% endblock %}

  <main>
    {% block main %}{% endblock %}
  </main>

  {% block footer %}
  <footer class="border-top py-5 mt-5 bg-dark text-light d-print-none">
    <div class="container">
      <div class="row border rounded border-warning p-5 mb-5">
        <div class="col-sm-8">
          <div class="h1 fw-bolder">Let me know what you think</div>
          <div class="h5 text-muted">Any comments or you'd just like to chat about the
            subject? Send me and email! Especially if you find a spelling mistake.</div>
        </div>
        <div class="col-sm-4 d-flex align-items-center justify-content-end">
          <div>
            <a href="mailto:{{ self.owner.email }}" class="btn btn-primary btn-lg rounded fs-5">
              {{ self.owner.email }}
              <i class="bi bi-arrow-right-circle-fill ms-1"></i>
            </a>
          </div>
        </div>
      </div>
      <div class="row mb-3">
        <div class="col-12 col-md-8">
          <div class="h5 text-muted mb-3 text-uppercase">Blog</div>
          <div>A blog by Isaac Bythewood that goes into much ado about nothing,
            especially if it's webdev related. I am a full-stack developer
            located in Morganton, NC. No warranty, technical support, or mental
            support will be provided for anything read here.</div>
        </div>
        <div class="col-12 col-md-4">
          <div class="h5 text-muted mb-3 text-uppercase">Links</div>
          <div>
            <a href="https://isaacbythewood.com/" target="_blank" class="btn btn-sm btn-outline-secondary text-light rounded-pill mb-2">Home</a>
            <a href="https://blog.bythewood.me/" target="_blank" class="btn btn-sm btn-outline-secondary text-light rounded-pill mb-2">Blog</a>
            <a href="https://github.com/overshard" target="_blank" class="btn btn-sm btn-outline-secondary text-light rounded-pill mb-2">GitHub</a>
            <a href="https://analytics.bythewood.me/" target="_blank" class="btn btn-sm btn-outline-secondary text-light rounded-pill mb-2">Analytics</a>
            <a href="https://github.com/overshard/dockerfiles" target="_blank" class="btn btn-sm btn-outline-secondary text-light rounded-pill mb-2">Dockerfiles</a>
            <a href="https://github.com/overshard/dotfiles" target="_blank" class="btn btn-sm btn-outline-secondary text-light rounded-pill mb-2">Dotfiles</a>
            <a href="https://timelite.app/" target="_blank" class="btn btn-sm btn-outline-secondary text-light rounded-pill mb-2">Timelite</a>
          </div>
        </div>
      </div>
    </div>
  </footer>
  <div class="sosumi py-4">
    <div class="container">
      <div class="row">
        <div class="col-sm-6 d-flex align-items-center">
          <small class="text-muted">
            &copy; {% now 'Y' %} Isaac Bythewood. Some rights reserved.
          </small>
        </div>
        <div class="col-sm-6 d-flex justify-content-end">
          <a href="https://github.com/overshard/blog" target="_blank" class="text-light fs-3" aria-label="GitHub">
            <i class="bi bi-github"></i>
          </a>
          <a href="https://isaacbythewood.com/" target="_blank" class="logo ms-4"></a>
        </div>
      </div>
    </div>
  </div>
  {% endblock %}

  <div id="cookie-warning" class="alert alert-warning border-warning alert-dismissible fade position-fixed bottom-0 start-0 m-3 p-2 d-flex flex-column flex-md-row align-items-md-center d-print-none" style="z-index: 1100;" role="alert">
    <span>I use my own analytics system that I coded at <a href="https://analytics.bythewood.me/" target="_blank" class="text-muted">analytics.bythewood.me</a> to track the usage of this site with cookies. No data is sent to any third parties.</span>
    <button type="button" class="btn btn-sm btn-success ms-md-2 mt-2 mt-md-0" data-bs-dismiss="alert" aria-label="Okay">Understood</button>
  </div>

  <script src="{% static 'base.js' %}"></script>
  {% block extra_js %}{% endblock %}
</body>
</html>
