{% load static wagtailuserbar wagtailcore_tags %}

<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{% block title %}{% if self.seo_title %}{{ self.seo_title }}{% else %}{{ self.title }}{% endif %}{% endblock %}{% block extra_title %}{% endblock %}</title>
  <meta name="description" content="{% block description %}{{ self.search_description }}{% endblock %}{% block extra_description %}{% endblock %}">
  <link rel="canonical" href="{{ canonical }}">

  {% if BASE_URL %}
  <base href="{{ BASE_URL }}">
  {% endif %}

  {% block extra_head %}{% endblock %}

  <link href="{% static 'base.css' %}" rel="stylesheet">
  {% block extra_css %}{% endblock %}

  {% include 'includes/collector.html' %}
</head>

<body>
  {% wagtailuserbar %}

  {% include 'includes/messages.html' %}

  {% block nav %}
  <nav class="navbar navbar-dark navbar-expand-md bg-blue-800 d-print-none">
    <div class="container">
      <a href="/" class="navbar-brand logo shadow" aria-label="Isaac Bythewood"></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav">
          {% for nav_item in nav_items %}
          <li class="nav-item">
            <a class="nav-link {% if active_tag.id == nav_item.id %}active{% endif %}" href="{{ nav_item.url }}">
              {{ nav_item.name }}
            </a>
          </li>
          {% endfor %}
        </ul>
        <div class="ms-0 ms-md-auto">
          <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" fill="currentColor" class="prefers-color-scheme-icon system" viewBox="0 0 16 16">
            <path d="M13.5 3a.5.5 0 0 1 .5.5V11H2V3.5a.5.5 0 0 1 .5-.5h11zm-11-1A1.5 1.5 0 0 0 1 3.5V12h14V3.5A1.5 1.5 0 0 0 13.5 2h-11zM0 12.5h16a1.5 1.5 0 0 1-1.5 1.5h-13A1.5 1.5 0 0 1 0 12.5z"/>
          </svg>
          <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" fill="currentColor" class="prefers-color-scheme-icon light d-none" viewBox="0 0 16 16">
            <path d="M8 11a3 3 0 1 1 0-6 3 3 0 0 1 0 6zm0 1a4 4 0 1 0 0-8 4 4 0 0 0 0 8zM8 0a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-1 0v-2A.5.5 0 0 1 8 0zm0 13a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-1 0v-2A.5.5 0 0 1 8 13zm8-5a.5.5 0 0 1-.5.5h-2a.5.5 0 0 1 0-1h2a.5.5 0 0 1 .5.5zM3 8a.5.5 0 0 1-.5.5h-2a.5.5 0 0 1 0-1h2A.5.5 0 0 1 3 8zm10.657-5.657a.5.5 0 0 1 0 .707l-1.414 1.415a.5.5 0 1 1-.707-.708l1.414-1.414a.5.5 0 0 1 .707 0zm-9.193 9.193a.5.5 0 0 1 0 .707L3.05 13.657a.5.5 0 0 1-.707-.707l1.414-1.414a.5.5 0 0 1 .707 0zm9.193 2.121a.5.5 0 0 1-.707 0l-1.414-1.414a.5.5 0 0 1 .707-.707l1.414 1.414a.5.5 0 0 1 0 .707zM4.464 4.465a.5.5 0 0 1-.707 0L2.343 3.05a.5.5 0 1 1 .707-.707l1.414 1.414a.5.5 0 0 1 0 .708z"/>
          </svg>
          <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" fill="currentColor" class="prefers-color-scheme-icon dark d-none" viewBox="0 0 16 16">
            <path d="M6 .278a.768.768 0 0 1 .08.858 7.208 7.208 0 0 0-.878 3.46c0 4.021 3.278 7.277 7.318 7.277.527 0 1.04-.055 1.533-.16a.787.787 0 0 1 .81.316.733.733 0 0 1-.031.893A8.349 8.349 0 0 1 8.344 16C3.734 16 0 12.286 0 7.71 0 4.266 2.114 1.312 5.124.06A.752.752 0 0 1 6 .278zM4.858 1.311A7.269 7.269 0 0 0 1.025 7.71c0 4.02 3.279 7.276 7.319 7.276a7.316 7.316 0 0 0 5.205-2.162c-.337.042-.68.063-1.029.063-4.61 0-8.343-3.714-8.343-8.29 0-1.167.242-2.278.681-3.286z"/>
          </svg>
          <select class="form-select" id="prefers-color-scheme" aria-label="Select color scheme">
            <option value="system" selected>
              System
            </option>
            <option value="light">
              Light
            </option>
            <option value="dark">
              Dark
            </option>
          </select>
        </div>
      </div>
    </div>
  </nav>
  {% endblock %}

  {% block breadcrumb_wrapper %}
  <div class="bg-blue-700 py-2 overflow-auto d-print-none">
    <div class="container">
      {% block breadcrumbs %}
      <nav style="--bs-breadcrumb-divider: url(&#34;data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8'%3E%3Cpath d='M2.5 0L1 1.5 3.5 4 1 6.5 2.5 8l4-4-4-4z' fill='%236c757d'/%3E%3C/svg%3E&#34;);" aria-label="breadcrumb">
        <ol class="breadcrumb mb-0">
          {% for page in self.get_ancestors %}
          {% if page.is_root == False %}
          <li class="breadcrumb-item"><a href="{% pageurl page %}">{{ page.title }}</a></li>
          {% endif %}
          {% endfor %}
          {% block extra_breadcrumbs %}
            <li class="breadcrumb-item active">{{ self.title }}</li>
          {% endblock %}
        </ol>
      </nav>
      {% endblock %}
    </div>
  </div>
  {% endblock %}

  <main class="flex-grow-1 pb-5">
    {% block main %}{% endblock %}
  </main>

  {% block footer %}
  <footer class="bg-black text-light d-print-none">
    <div class="container">
      {% if newsletter_page %}
      <div class="row bg-gray-925 border border-yellow-500 shadow rounded p-4">
        <div class="col-12 col-lg-7 mb-2 mb-lg-0">
          <div class="h1 fw-bolder">Get new posts to your inbox</div>
          <div class="h5 text-gray-300">
            I only post once every week or so and store your email securely on
            my own server. It's free tips and tricks with no spam!
          </div>
        </div>
        <div class="col-12 col-lg-5 d-flex align-items-center">
          {% include "includes/subscribe_form.html" %}
        </div>
      </div>
      {% endif %}
      <div class="row links">
        <div class="col-12 col-lg-6 mb-4 mb-lg-0">
          <div class="h5 font-monospace mb-3">Blog</div>
          <p>A blog by <a href="https://isaacbythewood.com/" class="text-light">Isaac Bythewood</a>
            that goes into much ado about nothing, especially if it's webdev
            related. I am a full-stack developer located in Morganton, NC. No
            warranty, technical support, or mental support will be provided for
            anything read here.</p>
        </div>
        <div class="col-6 col-lg-2 offset-lg-2">
          <div class="h5 font-monospace mb-3">Projects</div>
          <ul class="list-unstyled">
            <li class="mb-2"><a href="https://github.com/overshard/analytics" class="link-footer">Analytics</a></li>
            <li class="mb-2"><a href="https://github.com/overshard/status" class="link-footer">Status</a></li>
            <li class="mb-2"><a href="https://github.com/overshard/timelite" class="link-footer">Timelite</a></li>
            <li class="mb-2"><a href="https://github.com/overshard/ai-art" class="link-footer">AI-Art</a></li>
          </ul>
        </div>
        <div class="col-6 col-lg-2">
          <div class="h5 font-monospace mb-3">Links</div>
          <ul class="list-unstyled">
            <li class="mb-2"><a href="https://isaacbythewood.com/code" class="link-footer">Code</a></li>
            <li class="mb-2"><a href="https://isaacbythewood.com/art" class="link-footer">Art</a></li>
            <li class="mb-2"><a href="https://analytics.bythewood.me/properties/0d379e18-9ea7-4228-a8bf-82369c25ab84/" class="link-footer">Analytics</a></li>
            <li class="mb-2"><a href="https://status.bythewood.me/properties/dbc133c9-ef2a-40a9-a3f0-a26c64bede0a/" class="link-footer">Status</a></li>
          </ul>
        </div>
      </div>
    </div>
  </footer>

  <div class="bg-dark py-3 d-print-none">
    <div class="container">
      <div class="row">
        <div class="col-sm-6 d-flex align-items-center justify-content-center justify-content-sm-start mt-3 mt-sm-0 order-1 order-sm-0">
          <small class="text-light">
            &copy; {% now 'Y' %} Isaac Bythewood. Some rights reserved.
          </small>
        </div>
        <div class="col-sm-6 d-flex justify-content-center justify-content-sm-end">
          <a href="https://github.com/overshard/blog" target="_blank" class="text-light fs-3 d-flex align-items-center" aria-label="GitHub">
            <svg xmlns="http://www.w3.org/2000/svg" width="28" height="28" fill="currentColor" class="bi bi-github" viewBox="0 0 16 16">
              <path d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27.68 0 1.36.09 2 .27 1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.012 8.012 0 0 0 16 8c0-4.42-3.58-8-8-8z"/>
            </svg>
          </a>
          <a href="https://isaacbythewood.com/" target="_blank" class="logo shadow ms-4" aria-label="Isaac Bythewood"></a>
        </div>
      </div>
    </div>
  </div>
  {% endblock %}

  <div id="cookie-warning" class="alert alert-warning bg-yellow-100 border-warning alert-dismissible fade position-fixed bottom-0 start-0 m-3 p-2 d-flex flex-column flex-md-row align-items-md-center d-print-none" style="z-index: 1100;" role="alert">
    <span>I use my own analytics system that I coded at <a href="https://analytics.bythewood.me/" target="_blank" class="text-dark">analytics.bythewood.me</a> to track the usage of this site with cookies. No data is sent to any third parties.</span>
    <button type="button" class="btn btn-sm btn-success ms-md-2 mt-2 mt-md-0" data-bs-dismiss="alert" aria-label="Okay">Understood</button>
  </div>

  <script src="{% static 'base.js' %}"></script>
  {% block extra_js %}{% endblock %}
</body>
</html>
