{% load wagtailcore_tags wagtailimages_tags wagtailroutablepage_tags %}


<div class="container mt-5">
  <div class="row">
    <div class="col">
      <div class="text-muted">Latest post</div>
    </div>
  </div>
  <div class="row">
    <div class="col-12 col-md-6 col-lg-5 pb-5 border-bottom">
      <a href="{% pageurl blog_post %}" class="text-decoration-none text-dark">
        <h2 class="fw-bolder">{{ blog_post.title }}</h2>
      </a>
      <div class="mb-3">
        {% for tag in blog_post.tags.all %}
          <a href="{% routablepageurl blog_post.get_parent.specific 'tag' tag.slug %}" class="btn btn-light btn-sm rounded-pill fw-bold py-0">
            {{ tag.name|title }}
          </a>
        {% endfor %}
      </div>
      <p class="h5 text-muted mb-3">{{ blog_post.search_description }}</p>
      <div class="d-flex align-items-center">
        <img
          class="rounded-circle me-3"
          src="{{ self.owner.wagtail_userprofile.avatar.url }}"
          alt="{{ self.owner.first_name }} {{ self.owner.last_name }}"
          width="35"
          height="35"
        >
        <strong class="me-2">
          {{ blog_post.owner.first_name }}
          {{ blog_post.owner.last_name }}
        </strong>
        <div class="d-inline text-muted">
          {{ blog_post.first_published_at|date:"F d, Y" }}
        </div>
      </div>
    </div>
    {% if blog_post.cover_image %}
    <div class="col-12 col-md-6 col-lg-7 pb-5 border-bottom">
      <a href="{% pageurl blog_post %}">
        {% image blog_post.cover_image fill-640x360 format-webp as cover_image_640 %}
        {% image blog_post.cover_image fill-1280x720 format-webp as cover_image_1280 %}
        {% image blog_post.cover_image fill-1920x1080 format-webp as cover_image_1920 %}
        <img
          srcset="{{ cover_image_640.url }} 640w,
                  {{ cover_image_1280.url }} 1280w,
                  {{ cover_image_1920.url }} 1920w"
          src="{{ cover_image_1920.url }}"
          class="img-fluid rounded"
          alt="{{ cover_image_1920.alt }}"
          width="{{ cover_image_1920.width }}"
          height="{{ cover_image_1920.height }}"
        >
      </a>
    </div>
    {% endif %}
  </div>
</div>
