{% load wagtailcore_tags wagtailimages_tags %}


{% for block in self.body %}
{% if block.block_type == 'code' %}
  <div class="block-code">
    <textarea data-language="{{ block.value.language }}">{{ block.value.text }}</textarea>
  </div>
{% elif block.block_type == 'image' %}
  <div class="block-image">
    {% image block.value max-1920x1080 format-webp %}
  </div>
{% elif block.block_type == "rich_text" %}
  <div class="block-rich-text">
    {{ block.value }}
  </div>
{% elif block.block_type == "embed" %}
  <div class="block-embed">
    {{ block.value }}
  </div>
{% else %}
    {% include_block block %}
{% endif %}
{% endfor %}
