{% load wagtailroutablepage_tags %}


<form method="post" action="{% routablepageurl newsletter_page 'subscribe' %}" class="d-flex flex-grow-1 reverse-invert">
  {% csrf_token %}
  <input type="hidden" name="subscribe" value="True">
  <div class="form-floating flex-grow-1">
    <input type="email" name="email" class="form-control bg-dark border-0 text-white rounded-0 rounded-start border-end-0" placeholder="Your email address">
    <label for="email" class="text-white">Your email address</label>
  </div>
  <button type="submit" class="btn btn-dark btn-lg border-0 rounded fs-5 d-flex align-items-center rounded-0 rounded-end border-start-0 text-orange-300">
    <span>Subscribe</span>
    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chevron-right ms-1" viewBox="0 0 16 16">
      <path fill-rule="evenodd" d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z"/>
    </svg>
  </button>
</form>
