.CodeMirror {
  margin: 2rem auto;
  height: auto;
  max-width: 800px;
  border-radius: 0.25rem;
}

.CodeMirror-line {
  margin: 0;
}

.CodeMirror-wrap pre {
  word-break: break-word;
}

.CodeMirror-linenumber.CodeMirror-gutter-elt {
  color: #8d8d8d;
}

.cm-s-material-darker .cm-comment {
  color: #8d8d8d;
}
