.CodeMirror {
  margin: 2rem auto;
  height: auto;
  max-width: 800px;
  border-radius: 0.25rem;
  border: 1px solid rgba(107, 158, 120, 0.08);
}

.CodeMirror-line {
  margin: 0;
}

.CodeMirror-wrap pre {
  word-break: break-word;
}

.CodeMirror-linenumber.CodeMirror-gutter-elt {
  color: #4a443c;
}

.cm-s-material-darker .cm-comment {
  color: #665f56;
}
