@import "~/blog/static_src/styles/bootstrap.scss";

.block-title {
  max-width: 600px;
  margin: 2rem auto;
}

.block-rich-text {
  max-width: 600px;
  margin: 2rem auto;
  font-size: 1.2em;

  blockquote {
    border-left: 4px solid $gray-300;
    padding-left: 1rem;
  }
}

.block-image {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 2rem 0;
}

.block-image * {
  width: auto;
  height: auto;
  max-height: 75vh;
}

.block-embed {
  margin: 2rem auto;
  width: 800px !important;
  height: 50vh;
}

.block-embed * {
  width: 800px !important;
  height: 50vh;
}
