{% extends 'base.html' %}
{% load static wagtailcore_tags wagtailimages_tags wagtailroutablepage_tags %}


{% block extra_head %}
{% include "includes/social.html" %}
{% endblock %}


{% block extra_css %}
<link href="{% static 'pages.css' %}" rel="stylesheet">
{% endblock %}


{% block extra_js %}
<script src="{% static 'pages.js' %}"></script>
{% endblock %}


{% block extra_title %}
{% if active_tag %}
- Tag - {{ active_tag.name|title }}
{% elif active_year %}
- Year - {{ active_year }}
{% endif %}
{% endblock %}

{% block extra_description %}
{% if active_tag %}
Currently filtered by tag {{ active_tag.name|title }}.
{% elif active_year %}
Currently filtered by year {{ active_year }}.
{% endif %}
{% endblock %}


{% block extra_breadcrumbs %}
{% if active_tag %}
<li class="breadcrumb-item"><a href="{% pageurl self %}">{{ self.title }}</a></li>
<li class="breadcrumb-item active">{{ active_tag.name|title }}</li>
{% elif active_year %}
<li class="breadcrumb-item"><a href="{% pageurl self %}">{{ self.title }}</a></li>
<li class="breadcrumb-item active">{{ active_year }}</li>
{% else %}
<li class="breadcrumb-item active">{{ self.title }}</li>
{% endif %}
{% endblock %}


{% block main %}
<div class="container mt-5">
  <div class="row">
    <div class="col-sm-6">
      <h1 class="mb-3 fw-bolder">
        {% if active_tag %}
        <div class="text-muted fs-5">{{ active_tag.name|title }}</div>
        {% elif active_year %}
        <div class="text-muted fs-5">{{ active_year }}</div>
        {% endif %}
        {{ page.title }}
      </h1>
    </div>
    <div class="col-sm-6">
      {% include 'includes/search_form.html' %}
    </div>
  </div>
</div>

{% with blog_posts.first as blog_post %}
  {% include "includes/blog_post_latest.html" %}
{% endwith %}

<div class="container mt-5">
  <div class="row">
    <div class="col-8">
      <div class="row">
        {% for blog_post in blog_posts %}
        {% if blog_post != blog_posts.first %}
        <div class="col-12 col-md-6">
          {% include "includes/blog_post_card.html" %}
        </div>
        {% endif %}
        {% endfor %}
      </div>
      {% if extra_posts %}
      <div class="row mb-3">
        <div class="col">
          <div class="alert alert-info d-flex align-items-center row g-1 shadow-sm">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-info-circle-fill col-2 col-md-1" viewBox="0 0 16 16">
              <path d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zm.93-9.412-1 4.705c-.07.34.029.533.304.533.194 0 .487-.07.686-.246l-.088.416c-.287.346-.92.598-1.465.598-.703 0-1.002-.422-.808-1.319l.738-3.468c.064-.293.006-.399-.287-.47l-.451-.081.082-.381 2.29-.287zM8 5.5a1 1 0 1 1 0-2 1 1 0 0 1 0 2z"/>
            </svg>
            <div class="col-10 col-md-11">I don't have anymore posts with this filter at
              the moment but  here are some other posts you might like!</div>
          </div>
        </div>
      </div>
      <div class="row">
        {% for blog_post in extra_posts %}
        <div class="col-12 col-md-6">
          {% include "includes/blog_post_card.html" %}
        </div>
        {% endfor %}
      </div>
      {% endif %}
    </div>
    <div class="col-4">
      <div class="list-group">
        <div class="list-group-item bg-secondary text-white fw-bold">Tags</div>
        {% for tag in self.get_tags %}
          <a href="{% routablepageurl self 'tag' tag.slug %}" class="list-group-item {% if active_tag.id == tag.id %}active{% endif %}">{{ tag.name|title }}</a>
        {% endfor %}
        <a href="{% pageurl self %}" class="list-group-item bg-light">View all</a>
      </div>
      <div class="list-group mt-3">
        <div class="list-group-item bg-secondary text-white fw-bold">Years</div>
        {% for year in self.get_years %}
          <a href="{% routablepageurl self 'year' year %}" class="list-group-item {% if active_year == year %}active{% endif %}">{{ year }}</a>
        {% endfor %}
        <a href="{% pageurl self %}" class="list-group-item bg-light">View all</a>
      </div>
    </div>
  </div>
</div>
{% endblock %}
