{% extends 'base.html' %}
{% load static wagtailcore_tags wagtailimages_tags %}


{% block extra_head %}
{% include "includes/social.html" %}
{% endblock %}


{% block extra_css %}
<link href="{% static 'pages.css' %}" rel="stylesheet">
{% endblock %}


{% block extra_js %}
<script src="{% static 'pages.js' %}"></script>
{% endblock %}


{% block breadcrumb_wrapper %}{% endblock %}


{% block main %}
<div class="home-search-wrapper">
  <div class="container py-4">
    <div class="row">
      <div class="col-sm-8 offset-sm-2">
        {% include 'includes/search_form.html' %}
        <p class="text-white text-center mt-3 mb-0">Try searching for something. If
          you don't have any ideas try <code class="text-white">django</code>
          or <code class="text-white">docker</code>.</p>
      </div>
    </div>
  </div>
</div>

{% with latest_post as blog_post %}
  {% include "includes/blog_post_latest.html" %}
{% endwith %}

<div class="container mt-5">
  <div class="row">
    <div class="col">
      <div class="text-muted">
        Random posts
      </div>
      <p>If you don't know what you're looking for check out some of my older posts.</p>
    </div>
  </div>
  <div class="row">
    {% for blog_post in random_blog_posts %}
    <div class="col-sm-4">
      {% include "includes/blog_post_card.html" %}
    </div>
    {% endfor %}
  </div>
</div>
{% endblock %}
