{% extends 'base.html' %}
{% load static wagtailcore_tags wagtailimages_tags %}


{% block extra_head %}
{% include "includes/social.html" %}
{% endblock %}


{% block extra_css %}
<link href="{% static 'pages.css' %}" rel="stylesheet">
{% endblock %}


{% block extra_js %}
<script src="{% static 'pages.js' %}"></script>
{% endblock %}


{% block main %}
<div class="container mt-5">
  <div class="row">
    <div class="col">
      <h1>{{ page.title }}</h1>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-sm-6">
      {% if not success %}
        {% if subscribe %}
          {% include "includes/subscribe_form.html" %}
        {% elif unsubscribe %}
          {% include "includes/unsubscribe_form.html" %}
        {% endif %}
      {% else %}
        <div class="alert alert-success d-flex align-items-center row g-1 shadow-sm reverse-invert">
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-check-circle col-2 col-md-1" viewBox="0 0 16 16">
            <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
            <path d="M10.97 4.97a.235.235 0 0 0-.02.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-1.071-1.05z"/>
          </svg>
          <div class="col-10 col-md-11">{{ success }}</div>
        </div>
      {% endif %}
    </div>
  </div>
</div>
<div class="container mt-5">
  <div class="row">
    {% if random_posts %}
    <div class="container mt-5 d-print-none">
      <div class="row">
        <div class="col">
          <div class="text-muted">
            Sample Posts
          </div>
          <p>
            Sign up and you'll get posts like these straight to your email once
            every week or so.
          </p>
        </div>
      </div>
      <div class="row">
        {% for blog_post in random_posts %}
        <div class="col-12 col-sm-6 col-md-4 mb-5">
          {% include "includes/blog_post_card.html" %}
        </div>
        {% endfor %}
      </div>
    </div>
    {% endif %}
  </div>
</div>
{% endblock %}
