body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.logo {
  content: "";
  display: block;
  background-image: linear-gradient(to right, rgb(14, 63, 244) 0px, rgb(132, 43, 255) 100%);
  width: 30px;
  height: 30px;
  margin-top: auto;
  margin-bottom: auto;
  transition: transform .2s ease-in-out;

  &:hover {
    transform: rotate(15deg) scale(1.1);
  }
}
